<input id="search-tasks" [(ngModel)]="searchTerm" (keyup)="search()" placeholder="Search" />
<button (click)="toggleSort()">
	<span *ngIf="sort" >
		Unsorted
	</span>
	<span *ngIf="!sort" >
		Sort Alphabetically
	</span>
</button>

<hr>

<task-edit (save)="addItem($event)"></task-edit>

<div *ngIf="filteredItems.length === 0" >
	No items found, add more with the button above.
</div>
<ul *ngIf="filteredItems.length !== 0" >
	<task-item *ngFor="let i of filteredItems" (remove)="removeItem(i)">{{i}}</task-item>
</ul>